/* Global styles for dark mode */
body {
    font-family: Arial, sans-serif;
    transition: all 0.3s ease;
  }
  
  body.dark {
    background-color: #2d3748;
    color: white;
  }
  
  .app-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .main-content {
    padding: 20px;
    background-color: #fff;
  }
  
  body.dark .main-content {
    background-color: #2d3748;
  }
  
  a {
    text-decoration: none;
  }
  
  /* Navbar styles for dark and light mode */
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-icons {
    display: flex;
    gap: 10px;
  }
  
  .search-bar {
    position: relative;
  }
  
  .search-input {
    padding-left: 30px;
    padding-right: 10px;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #ccc;
  }
  
  .search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #bbb;
  }
  
  .icon {
    width: 24px;
    height: 24px;
  }
  